{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}}
 :aliases {:dev {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.764"}
                              com.bhauman/figwheel-main {:mvn/version "0.2.5"}
                              com.bhauman/rebel-readline {:mvn/version "0.1.4"}
                              com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                              nrepl/nrepl {:mvn/version "0.7.0"}
                              cider/cider-nrepl {:mvn/version "0.25.0-alpha1"}
                              cider/piggieback {:mvn/version "0.5.0"}}
                 :main-opts ["dev.clj"]
                 :jvm-opts ["-Xmx1g"]}
           :prod {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.764"}}
                  :main-opts ["prod.clj"]
                  :jvm-opts ["-Xmx1g"]}
           :macos {:jvm-opts ["-XstartOnFirstThread"]}}}
