@import "core.css"; 

h1 {
    width: var(--width);
    margin: 0;
    padding: 0 1em;
    margin: 10px auto;
    text-align: center;
    color: white;
}

#main {
    position: relative;
    width: 900px;
    height: var(--height);
    margin: 10px auto;
}

#game {
    float: left;
    width: var(--width);
    height: var(--heigth);
    border: 5px solid black;
}

#hud {
    position: relative;
    width: 200px;
    height: var(--height);
    display: inline-block;
    vertical-align: top;
    color: var(--light-grey);
    background-color: var(--background);
    border: 5px solid black;
    box-sizing: border-box;
    background-color: ;
    padding: 0 1em 1em 1em;
}

#score, #level {
    font-size: 3em;
    margin: 0 auto;
    border-radius: 5px;
}

#level {
    text-align: center;
}

.hub-element {
    margin-top: 1em;
}

#hud #retry:hover {

}

#message-box {
    position: absolute;
    top: 220px;
    left: 135px;
    width: 300px;
    padding: 1em;
    color: white;
    font-size: 2em;
    text-align: center;
    background-color: #121212;
}

#message-box #click-continue {
    font-size: 0.5em;
}

#message-box p {
    margin: 0;
}

#help {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0.2em;
}

.row {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    text-align: center;
}

.row div {
    width: 33%;
    font-size: 1.5em;
    border: 1px solid #121212;
    border-radius: 5px;
}

.arrows {
    font-size: 0.8em;
    font-family: 'PixArrows', 'Arial', 'Serif';
}

.letters {
    cursor: help;
}

.arrows div {
    border: none;
    padding: 0 0 0.2em 0.2em;
}
